{% extends 'main.html' %}
{% block title %} Profile-page {% endblock title%}
{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    profile page
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


