{% extends 'layouts/main.html' %}
{% load crispy_forms_tags %}
{% block title %} Admin page {% endblock %}
{% block content %}

    <input type="checkbox" id="nav-toggle">
    <!-- Sidebar -->
    <section class="sidebar">
        <div class="sidebar-brand">
            <h2>
                <span><i class="fab fa-font-awesome-alt"></i></span>
                <span>Dropout</span>
            </h2>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="#" class="active"> 
                        <span><i class="fas fa-tachometer-alt"></i> </span>
                        <span>Dashboard</span> 
                    </a>
                </li>
                <li>
                    <a href="{% url 'sendmessage' %}">
                        <span><i class="fas fa-home"></i> </span>
                        <span>Direct SMS</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'register-user' %}">
                        <span><i class="fas fa-book-reader"></i> </span>
                        <span>Add Users</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'sector-list' %}">
                        <span><i class="fas fa-laptop-code"></i> </span>
                        <span>Sectors</span>
                    </a>
                </li>
                <li>
                  <a href="{% url 'student-list' %}">
                      <span><i class="fas fa-laptop-code"></i> </span>
                      <span>All Students</span>
                  </a>
              </li>
                <li>
                    <a href="{% url 'user-profile' %}">
                        <span><i class="fas fa-book-reader"></i> </span>
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout-user' %}">
                        <span><i class="fas fa-book-reader"></i> </span>
                        <span>Logout</span>
                    </a>
                </li>
             
            </ul>
        </div>
    </section>
    <!-- Sidebar End Here -->

    <!-- Main Content -->
    <div class="main-content">
            <!-- Navbar Header -->
            <header>

                <div class="header-title">
                    <h2>  
                        <label for="nav-toggle">
                            <i class="fas fa-bars"></i>
                        </label>
                        Dashboard 
                    </h2>
                </div>

                <div class="search-wrapper">
                    <i class="fas fa-search"></i>
                    <input type="search" placeholder="Search Here">
                </div>

            </header>
            <main>
                
                  <div class="row my-4">
                    <div class="col-md-6 offset-md-3 p-3 bg-white">
                        <h3 class="text-center text-success">Message Board</h3>
                        <hr>
                        <form method="POST">
                            {% csrf_token %}
                            {{crispy }}
                            {% for message in notification %}
                            <h6>
                            

                            {% if message.sector %}

                             <a class="text-decorator-none" href="">{{message.sector.s_name}}</a>
                             
                             <br>
                             
                            {{message.messageBody}}
                            <hr>
                            {% endif %}

                            {% endfor %}


                            </h6>
                            


                            <a class="btn btn-secondary" href="{% url 'admin-dashboard' %}">Back</a>
                            
                        </form>
                    </div>
                </div>
                   
            
            </main>
    </div>
    
    
{% endblock %}
