{% extends 'layouts/main.html' %}
{% load crispy_forms_tags %}
 {% block title %} Record sectors {% endblock title %}
 
  {% block content %}
  <div class="row my-4">
    <div class="col-md-6 offset-md-3 p-3 bg-white">
        <h3 class="text-center text-success">Record Sectors</h3>
        <hr>
        <form method="POST">
            {% csrf_token %}
            {{ sectorform|crispy }}
            <a class="btn btn-secondary" href="{% url 'sector-list' %}">Back</a>
            <input class="btn btn-info" type="submit" value="Confirm">
        </form>
    </div>
</div>
    {% endblock content %}
    